:root {
    --color-background: #06171E;
    --color-surface: #09212A;

    --color-border: #124658;
    --color-border-focus: #6BC1E1;

    --color-close-btn-focus: #154657; 
    --color-nav-btn: #FD5B4F;

    --primary-grey: #99ACB3;
}